Package: com.rpetrich.smartclose
Name: SmartClose
Depends: firmware (>= 6.0), mobilesubstrate (>= 0.9.5001), libactivator (>= 1.8.4~beta7), preferenceloader (>= 2.2.2), applist (>= 1.5.7)
Version: 0.1
Architecture: iphoneos-arm
Description: Close background apps, the smart way via Activator
Maintainer: thebigboss.org <http://thebigboss.org>
Author: Ryan Petrich <rpetrich+smartclose@gmail.com>
Section: Tweaks
Tag: purpose::extension
Homepage: http://rpetri.ch/cydia/smartclose/
Depiction: http://rpetri.ch/cydia/smartclose/
dev: rpetrich
